<html>
  <head>
    <title>Create Location</title>
    <link rel="stylesheet" type="text/css" href="/styleCreateDriver.css">
  </head>
  <body>
    <%- include("header.ejs") %>
    <h1>Create Location</h1>
    <% if (error) { %>
      <p>Error: <%= error %></p>
    <% } %>
    <form method="POST" action="/locations/createLocation">
        <label for="zipcode">Zipcode:</label>
        <input type="number" id="zipcode" name="zipcode">
      
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <button type="submit">Submit</button>
    </form> 
  </body>
</html>



